<div class="container">
    <div class="row">
        <div class="col-sm-12 alert bg-dark text-white" role="alert">

            <h1 class="text-center alert alert-success">Employee Management</h1>
            <br />
            <div class="row">

                <div class="col-sm-4">
                    <div class="empAddEdit">
                        <form #empForm="ngForm">
                            <div class="form-group">
                                <label for="name">User Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
                                    [(ngModel)]="employeeObj.name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                    name="email" [(ngModel)]="employeeObj.email" required>
                            </div>
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input type="text" class="form-control" id="email" placeholder="Enter Designation"
                                    name="designation" [(ngModel)]="employeeObj.designation" required>
                            </div>

                            <button *ngIf="!isEdit" type="submit" class="btn btn-primary"
                                (click)="addEmployee(empForm)">Submit</button>
                            <button *ngIf="isEdit" type="submit" class="btn btn-primary"
                                (click)="updateEmployee(empForm)">Update</button>
                        </form>
                    </div>
                </div>

                <div class="col-sm-8">
                    <app-listemp (editedEmployeeInfo)="receiveEmployeeInfo($event)"></app-listemp>
                </div>

            </div>
        </div>

    </div>
</div>